/* Booking Page */
.body{
    color: #ADD8E6;
}
/* End Booking Page */
.content-header{
    background-color: #ADD8E6;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
.search-box{
    position: absolute;
    top: 120px;
    right: 100px;
    display: inline-block;
}
.search-input{
    width: 150px;
}
.login-link{
    position: absolute;
    top: 120px;
    right: 40px;
    color: white;
    text-decoration: none;
}
.breadcrumb{
    top: 120px;
}
.content{
    margin: 20px;
}